<% provide(:title, "Generate Password") %>
<h1>Generate Password</h1>

<%= form_for :password, url: password_generator_path,
		remote: true, html: { class: "form-horizontal" } do |f| %>

    <fieldset>
      <legend>Password parameters</legend>
      <div class="control-group">
        <label class="control-label" for="password_word_count">Word count</label>
        <div class="controls">
					<%= f.select :word_count, 1..5 %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password_camel_case">Camel Case</label>
				<div class="controls">
	        <label class="checkbox">
						<%= f.check_box :camel_case %>
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password_numbers_for_letters">Number for Letters</label>
				<div class="controls">
	        <label class="checkbox">
						<%= f.check_box :numbers_for_letters %>
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password_common_substitutions">Common Substitutions</label>
				<div class="controls">
	        <label class="checkbox">
						<%= f.check_box :common_substitutions %>
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password_keep_spaces">Keep Spaces</label>
				<div class="controls">
	        <label class="checkbox">
						<%= f.check_box :keep_spaces %>
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password_alliteration">Alliteration</label>
				<div class="controls">
	        <label class="checkbox">
						<%= f.check_box :alliteration %>
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="password_expires_in_three_months">Expires in 3 Months</label>
				<div class="controls">
	        <label class="checkbox" id="password_expires_in_three_months_inner_label">
						<%= f.check_box :expires_in_three_months %>
					</label>
				</div>
			</div>


      <div class="form-actions">
				<%= f.submit "Generate", class: "btn btn-primary" %>
      </div>

      <div id="indices">
      </div>

      <label class="control-label" for="password_input">Text input</label>  
          <div class="controls">  
            <input type="text" class="input-xlarge" id="password_input">
          </div>  
    </fieldset>
<% end %>